* { margin: 0; padding: 0; outline:none; }

html, body, .outer {
    height: 100%;
}

body{
    background: black;
}

.outer{
    display: flex;
    justify-content: center;
    align-items: center;
}
