body{
    overflow-y: auto;
}

.ui.selection.dropdown{
    min-width: 120px !important;
    min-height: 15px !important;
}

.ui.selection.dropdown.video-fps{
    min-width: 150px !important;
}

.ui.selection.dropdown.video-codec{
    min-width: 170px !important;
}

.ui.selection.dropdown.video-tune{
    min-width: 140px !important;
}

.ui.selection.dropdown.video-profile{
    min-width: 190px !important;
}

.sticky {
    background-color: white;
}

.ui.labeled.icon.menu .item {
    text-transform: capitalize;
}

.ui.icon.menu .item {
    text-align: left;
    padding-left: 20px;
}

.ui.labeled.icon.menu .item>.icon:not(.dropdown) {
    display: inline-block;
    font-size: 1.2em!important;
    padding-right: 4px;
}

.ui.menu .item {
    padding: .72857143em 1.14285714em;
}

.ui.visible.thin.left.sidebar~.pusher {
    width: calc(100% - 150px);
}

.ui.table {
    word-break: break-all;
}

.ui.multiple.dropdown {
    padding: .22620476em 0 0 .35714286em;
}

td>.ui.selection.dropdown {
    padding: 0;
}

td>.ui.dropdown.type>.text {
    padding: 6px 0 0 8px;
}

.field .ui.selection.dropdown {
    min-height: inherit;
}

.ui.form .field>.selection.dropdown {
    width: inherit;
    min-width: 220px;
}

.ui.visible.thin.left.sidebar~.pusher {
    min-height: calc(100vh - 70px);
}

.toggle-label {
    /*vertical-align: 8px;*/
    padding-left: .4em;
    padding-right: 1.5em;
}

.ui.grid>.row {
    padding: 0.3rem 0;
}

.ui.selection.dropdown {
    min-height: 0px;
}

.ui.column.grid>[class*="three wide"].column, .ui.grid>.column.row>[class*="three wide"].column, .ui.grid>.row>[class*="three wide"].column, .ui.grid>[class*="three wide"].column,
.ui.column.grid>[class*="four wide"].column, .ui.grid>.column.row>[class*="four wide"].column, .ui.grid>.row>[class*="four wide"].column, .ui.grid>[class*="four wide"].column,
.ui.column.grid>[class*="six wide"].column, .ui.grid>.column.row>[class*="six wide"].column, .ui.grid>.row>[class*="six wide"].column, .ui.grid>[class*="six wide"].column {
    margin-top: auto;
    margin-bottom: auto;
}

.spacer{
    height: 25px;
}
.spacer2{
    height: 15px;
}
.spacer3{
    height: 20px;
}
.spacer4{
    height: 10px;
}
.spacer5{
    height: 5px;
}

.ui.form .field .ui.input, .ui.form .fields .field .ui.input, .ui.form .wide.field .ui.input{
    width: 264px;
}

.main{
    display: flex;
    flex-flow: row;
    padding-left: 10px;
}

.side1 {
    flex: 0 0 265px;
    border: 1px solid #D4D4D5;
    border-radius: 3px;
    margin: 10px;
    height: 720px;
}
.cont {
    flex: 1 1;
}

.ReactTable .rt-table {
    height: 140px;
}

.ReactTable .-pagination {
    height: 30px;
    padding-top: 2px;
    padding-bottom: 2px;
}

.ReactTable .-pagination .-btn {
    padding: 0px;
}

.ReactTable .-pagination input, .ReactTable .-pagination select {
    padding: 1px 7px;
 }

.ui.input input {
    padding: .2em 1em;
}

label.bold{
    font-weight: bold;
}

.right-pad{
    padding-right: 10px;
}

.right-pad2{
    padding-right: 5px;
}

.panel-flex{
    display: flex;
}

.ui.selection.dropdown {
    padding-top: .4em;
    padding-bottom: .4em;
    margin-right: 1.5em;
}

.ui.tabular.menu .item {
    padding: 0em 1em;
}

.ui.input input.input-number {
    padding: .2em .3em;
    width: 65px;
}

.list-group-item {
    padding: .06rem 1.25rem;
    border: none;
    margin-left: 10px;
     margin-bottom: 0px;
}

.list-group-item.directory {
    margin-left: 0px;
    font-weight: bold;
}

.list-group {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
    flex-direction: column;
    padding-left: 0;
    height: 708px;
    margin: 5px;
    margin-left: 0px;
    overflow-y: auto;
    overflow-x: hidden;

}

.list-group-item-action {
    color: #212529;
}

.list-group-item-action:focus, .list-group-item-action:hover {
    color: inherit;
}

.ui.input input[type="range"]{
    padding: .2em 0;
}
.ui.radio.checkbox label.avg:before {
    top: 3px;
}

.ui.selection.dropdown.bitrate {
    margin-right: 0.1em;
}

.list-group-item.active,.list-group-item-action.active:focus, .list-group-item-action.active:hover  {
    z-index: 2;
    color: inherit;
    background-color: #deecfd;
    border-color: #deecfd;
}
.ui.radio.checkbox.input input:checked~label:after {
    top: 3px;
}
