.sticky {
    background-color: white;
}
#app-full .ui.icon.input{
    width: 100%;
    padding: 5px 0 10px 0;
}

span.additional-info{
    color: rgba(0,0,0,.5);
    padding-left: 5px;
}

.ui.list .list>.item .header, .ui.list>.item .header{
    display: initial;
}