.infinite-tree-content .infinite-tree-item {
    line-height: 1.4em;
}

span.margin-left{
   margin-left: 10px;
}

.date-slice{
    font-weight: bold;
    color: #004ecc;
}

.tree-divider{
    border-bottom: 1px solid rgba(34,36,38,.1);
}

.node-inactive{
    color: #999;
}


.ui.secondary.pointing.menu .item {
    padding: .85714286em 0.88285714em;
}

span.additional-info{
    color: rgba(0,0,0,.5);
    padding-left: 5px;
}
