.react-selection{
    user-select:none;
    -webkit-user-select:none;
    -moz-user-select:none;
    position:relative;
}

.react-selection-rectangle{
    pointer-events:none;
    transition: opacity .4s;
    position: absolute;
    background-color: rgba(204,204,204,.2);
    border: 1px solid #ccc;
    opacity: 0;
}

.ui.secondary.pointing.menu .item {
    padding: .85714286em 0.58285714em;
}

#classic .infinite-tree-scroll {
    height: calc(100vh - 426px);
}

.ui.icon.button, .ui.icon.buttons .button {
    padding: .48571429em;
}

.ui.icon.button>.icon, .ui.icon.buttons .button>.icon {
    color: inherit;
}

body{
    min-width: initial;
}

.hol-resizer{
    height: 5px;
    cursor: row-resize;
    width: 100%;
    position: absolute;
    z-index: 3;
}

.te-ww-container .tui-editor-contents:first-child {
    padding: 16px 10px 0 10px;
}

.hover-external{
    display: none;
    cursor: pointer;
}

.infinite-tree-node:hover>.hover-external{
    display: initial;
}
.ui.secondary.pointing.menu.no-sidebar .item {
    padding: .85714286em 1.14285714em;
}

.main{
    display: flex;
}

.main>#editSection{
    flex-direction: column;
    width: 100%;
}
.button>.folder {
    color: inherit;
}

#classic .main-sidebar .infinite-tree-scroll {
    overflow-x: hidden;
}

.vertical-resizer {
    background: #000;
    opacity: .2;
    z-index: 3;
    box-sizing: border-box;
    background-clip: padding-box;
    width: 11px;
    margin: 0 -5px;
    border-left: 5px solid rgba(255, 255, 255, 0);
    border-right: 5px solid rgba(255, 255, 255, 0);
    cursor: col-resize;
    height: 100%;
    top: 0px;
    height:calc(100vh - 68px);
}

.save-text{
    font-size: 11px;
    left: 142px;
    margin-top: 12px;
    opacity: 0.8;
    pointer-events: none;
    position: absolute;
}

.ui.menu:not(.vertical)>.menu {
    display: contents;
}

.our-button-class{
    float: left;
    box-sizing: border-box;
    outline: none;
    cursor: pointer;
    background-color: #fff;
    width: 22px;
    height: 22px;
    border-radius: 0;
    margin: 4px 3px;
    border: 1px solid #fff;
    display: flex;
    justify-content: center;
    align-items: center;
}

.our-button-class:hover {
    border: 1px solid #aaa;
    background-color: #fff;
}

.tui-editor-defaultUI-toolbar {
    padding: 0 5px ;
}