.Resizer {
    background: #000;
    opacity: .2;
    z-index: 3;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    -moz-background-clip: padding;
    -webkit-background-clip: padding;
    background-clip: padding-box;
}

.Resizer:hover {
    -webkit-transition: all 2s ease;
    transition: all 2s ease;
}

.Resizer.horizontal {
    height: 11px;
    margin: -5px 0;
    border-top: 5px solid rgba(255, 255, 255, 0);
    border-bottom: 5px solid rgba(255, 255, 255, 0);
    cursor: row-resize;
    width: 100%;
}

.Resizer.horizontal:hover {
    border-top: 5px solid rgba(0, 0, 0, 0.5);
    border-bottom: 5px solid rgba(0, 0, 0, 0.5);
}

.Resizer.vertical {
    width: 11px;
    margin: 0 -5px;
    border-left: 5px solid rgba(255, 255, 255, 0);
    border-right: 5px solid rgba(255, 255, 255, 0);
    cursor: col-resize;
}

.Resizer.vertical:hover {
    border-left: 5px solid rgba(0, 0, 0, 0.5);
    border-right: 5px solid rgba(0, 0, 0, 0.5);
}
Resizer.disabled {
    cursor: not-allowed;
}
Resizer.disabled:hover {
    border-color: transparent;
}

.Resizer.hide{
    display:none;
}

.main,#app,.split-window{
    height: 100%;
}

.ReactTable {
    border: none;
}

.main{
    display: inherit;
    padding-left: 0;
}

.navbar {
    border-bottom: 1px solid #ccc;
}

.ReactTable .rt-tr-group {
    flex-direction: unset;
}

.ReactTable .rt-tbody .rt-tr-group:last-child {
    border-bottom: solid 1px rgba(0,0,0,0.05);
}

.infinite-tree-content .infinite-tree-item {
    line-height: inherit;
    border: none;
}

.infinite-tree-item.top-overlap > div,
.infinite-tree-item.top-next-sibling-overlap > div{
    border-top-color: blue !important;
}


.infinite-tree-item.bottom-overlap > div,
.infinite-tree-item.bottom-previous-sibling-overlap > div{
    border-bottom-color: blue !important;
}

.ReactTable{
    height: calc(100% - 135px);
}

.ui.divider:not(.vertical):not(.horizontal){
    margin-top: 0;
    border-top: 0;
}

.fa.fa-times.menu-item:hover{
    color: firebrick;
}

.ReactTable .rt-tbody .rt-tr-group.menu {
    flex: initial;
    font-size: 14px;
    padding: 4px 0;
    padding-left: 5px;
}

.drag-handle{
    position: relative;
    top: 1px;
    display: inline-block;
    width: 12px;
    height: 11px;
    opacity: .25;
    margin-right: 10px;
    cursor: row-resize;
    /* background: -webkit-linear-gradient(top,#000,#000 20%,#fff 0,#fff 40%,#000 0,#000 60%,#fff 0,#fff 80%,#000 0,#000); */
    background: linear-gradient(180deg,#000,#000 20%,#fff 0,#fff 40%,#000 0,#000 60%,#fff 0,#fff 80%,#000 0,#000);
}

.ReactTable .rt-tbody .rt-tr-group.menu:hover {
    background: #f2fdff;
}


.ReactTable .rt-tbody .rt-tr-group.menu.selected {
    background: #deecfd;
}

.ReactTable .rt-tbody .rt-tr-group.menu.add-button {
    background-color: rgb(249, 250, 251);
    margin-left: 20px;
    margin-right: 20px;
    border-radius: 5px;
    border: solid 1px rgba(0,0,0,0.05);
    margin-top: 5px;
    padding: 0;
    text-align: center;
}


.ReactTable .rt-tbody .rt-tr-group.menu.add-button:hover {
    background-color: rgb(238, 238, 238);
}

.ReactTable .rt-tbody .rt-tr-group.menu.add-button > div {
    padding: 0;
}

.infinite-tree-scroll {
    overflow-y: scroll;
}


.toggle-label {
    vertical-align: 13px;
    padding-left: .4em;
    padding-right: 1.5em;
}

.ui.grid>.row {
    padding: 0.3rem 0;
    margin: 0;
}

.ui.popup {
    min-width: 380px;
}

.ui.modal>.content {
    height: calc(100% - 122px);
}

.ui.modal>.content>.description {
    height: 100%;
}

#editor {
    height: 100%;
}