.sticky {
    background-color: white;
    z-index: 1;
}

.ui.cards>.card {
    width: 160px;
}

.ui.cards {
    padding-top: 15px;
}

.ui.big.input {
    width: 70%;
    min-width: 500px;
    margin-top: 40px;
    margin-bottom: 20px;
}
.ui.cards>.card {
    margin: .75em .5em;
 }

.ui.cards>.ui.circular.icon.button{
    height: 100%;
    margin-top: auto;
    margin-bottom: 12px;
}

.ui.cards>.card>.top-button {
    position: absolute;
    cursor: pointer;
    font-style: normal;
    font-variant: normal;
    font-weight: normal;
    font-stretch: normal;
    font-size: 20px;
    line-height: 0.9;
    font-family: arial, sans-serif;
    margin-top: 2px;
    text-decoration: none;
    text-shadow: rgb(255, 255, 255) 0px 1px 0px;
    opacity: 1;
    width: 16px;
    height: 16px;
    text-align: center;
    border-radius: 6px !important;
    z-index: 9999;
    filter: none;
    display: none;
}


.ui.cards>.card:hover>.top-button {
    background-color: rgba(0,0,0,0.1);
    display: initial;
}


.ui.cards>.card>.close-button {
    right: 2px;
}

.ui.cards>.card>.pin-button {
    right: 20px;
    font-size: 14px;
}

.ui.cards>.card>.pin-button.pinned {
    display: initial;
}

.restore{
    font-size: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 10px;
    margin-right: 48px;
}
.restore>a{
    cursor: pointer;
    padding-left: 8px;
}

.restore.hidden{
    display: none;
}