.sticky {
    background-color: white;
    z-index: 1;
}

.ui.cards>.card {
    width: 160px;
}

.ui.cards {
    padding-top: 15px;
}

.ui.big.input {
    width: 70%;
    min-width: 500px;
    margin-top: 40px;
    margin-bottom: 20px;
}
.ui.cards>.card {
    margin: .75em .5em;
 }

.ui.cards>.ui.circular.icon.button{
    height: 100%;
    margin-top: auto;
    margin-bottom: 12px;
}