/* Fonts ---------------------------- */

@font-face {
    font-family: 'Source Code Pro';
    font-style: normal;
    font-weight: 400;
    src: local('Source Code Pro'), local('SourceCodePro'), url(fonts/SourceCodePro-Regular.ttf) format('truetype');
}


/* Global ---------------------------- */

* {
    box-sizing: border-box;
}

html {
    height: 100%;
    font-family: 'BlinkMacSystemFont', 'Lucida Grande', 'Segoe UI', Ubuntu, Cantarell, sans-serif;
    font-size: 14px;
    line-height: 1.5;
    overflow: hidden; /* Prevents rubber-band scrolling of the whole "page" */
    color: var(--color);
    background-color: #fff; /* To cover OSes with no default background color */
}

body {
    margin: 0;
    height: 100%;
    display: flex;
}

a {
    color: var(--color-link);
}

h1,
h2,
h3 {
    margin-top: 0;
    line-height: 1.5;
}

h1 {
    font-size: 1.5em;
    font-weight: 600;
}

h2 {
    font-size: 1.3em;
    font-weight: normal;
}

h3 {
    font-size: 1.12em;
    font-weight: 600;
}

table {
    width: 100%;
    border-spacing: 0;
    border: 1px solid hsla(0,0%,0%,.08);
    border-width: 0 1px 1px 0;
}
th {
    background-color: hsla(0,0%,50%,.06);
}
th,
td {
    text-align: center;
    border: 1px solid hsla(0,0%,0%,.08);
    border-width: 1px 0 0 1px;
}

svg {
    fill: currentColor;
}

/* Code */

code, kbd {
    font-family: 'Source Code Pro', monospace;
    border-radius: 4px;
    padding: 1px 4px;
    white-space: nowrap;
    color: hsl(0,0%,36%);
    background-color: hsla(0,0%,60%,.15);
}

pre, kbd {
    font-size: 13px;
    overflow: auto;
    padding: 1em;
    margin: 0;
    border-radius: 4px;
    border: 1px solid;
    border-color: var(--color-border);
    background-color: white;
}

pre code {
    white-space: pre;
}

pre > .hljs {
    color: var(--color-subtle);
    background-color: white;
}

kbd {
    padding: 0.5em;
}


/* Utilities ---------------------------- */

.u-avoid-clicks {
    pointer-events: none;
}

/* Visually hidden, but will be read by screen readers */
.u-visible-to-screen-reader {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    border: 0;
}

.no-display {
    display: none;
}


/* Content ------------------ */

.content {
    flex: 1;
    position: relative;
    /*overflow: hidden;*/
    /*visibility: hidden;*/
    /*opacity: 0;*/
}
.content.is-shown {
    visibility: visible;;
    opacity: 1;
}


/* Hacks ---------------------------- */

/* Fixes horizontal scrolling in code blocks on OS X El Cap (10.11.3), retina screen
 *
 * By adding an invisible outline property, it will force a repaint
 * which enables the scrolling.
 */

.hljs:hover,
.hljs:active {
    outline: 1px solid transparent;
}

webview {
    background-color: #fff;
    border: 0;
    height: 100%;
    width: 100%;
}
webview::shadow object{
    width: 100%;
    height: 100%;
}


div.window,
#content,
div.wrap-split-window,
div.split-window{
    width: 100%;
    height: 100%;
}

div.wrap-split-window{
    display: flex;
}

div.vertical-tab{
}

.vertical-resizer {
    background: #000;
    opacity: .2;
    z-index: 3;
    box-sizing: border-box;
    background-clip: padding-box;

    width: 11px;
    margin: 0 -5px;
    border-left: 5px solid rgba(255, 255, 255, 0);
    border-right: 5px solid rgba(255, 255, 255, 0);
    cursor: col-resize;

    height: 100%;
    top: 0px;
    -webkit-app-region: no-drag;
}
.vertical-resizer:hover {
    border-left: 5px solid rgba(0, 0, 0, 0.5);
    border-right: 5px solid rgba(0, 0, 0, 0.5);
    transition: all 2s ease;
}

img.favi{
    width: 16px;
    height: 16px;
}

img.favi-tab{
    width: 16px;
    height: 16px;
    margin-top: 0.45em;
}

.sortable-ghost {
    opacity: .4;
}

.search-num{
    position: absolute;
    right: 215px;
    z-index: 1001;
    top: 0px;
    color: #909090;
    line-height: 2.2;
}

.search-next{
    width: 25px;
    border-color: #aaa;
    border-style: solid;
    border-width: 1px 0px 1px 0px;
    text-align: center;
}


.search-prev{
    width: 25px;
    border-color: #aaa;
    border-style: solid;
    border-width: 1px 0px 1px 0px;
    text-align: center;
}


.search-close{
    font-size: 1.3em;
    width: 25px;
    border-color: #aaa;
    border-style: solid;
    border-width: 1px 1px 1px 0px;
    text-align: center;
    line-height: 1.3;
    border-top-right-radius: 0.285714rem;
    border-bottom-right-radius: 0.285714rem;
}

a.search-button{
    text-decoration: none;
    cursor: pointer;
    color: #808080;
}

a.search-button:hover {
    text-decoration: none;
    color: blue;
}

.partition{
    border-left: solid 1px #b0b0af;
    margin: 4px 2px 4px 2px;
}
.search-text{
    border: 1px solid #aaa;
    border-top-left-radius: 0.285714rem;
    border-bottom-left-radius: 0.285714rem;
}

.nav-button{
    line-height: 2.0;
}

.nav-menu{
    top: 40% !important;
    right: -6px !important;
}

.nav2-menu{
    top: 90% !important;
}

.nav-menu-audio{
    position: fixed !important;
}

.ui.dropdown.main-menu .menu>.item,
.ui.dropdown.zoom-menu .menu>.item{
    padding: .32rem 0.94285714rem!important;
}

.ui.dropdown.main-menu .menu.nav-menu,
.ui.dropdown.zoom-menu .menu.nav-menu {
    padding-top: 3px;
}

.ui.dropdown .menu>.item {
    padding: .43571429rem 0.94285714rem!important;
}

.ui.dropdown .menu>.divider {
    margin: .2em 0;
}

.ui.pointing.dropdown>.menu {
    top: 100%;
    margin-top: .78571429rem;
    border-radius: .28571429rem;
}
.ui.dropdown .menu {
    left: 0;
    z-index: 2000;
}

.rdTabAddButton {
    /*transform: skewX(30deg);*/
    border: 1px solid rgba(0,0,0,0.27);
}

.rdTabAddButton:hover {
    /*background-image: linear-gradient(rgb(66, 66, 66), rgb(49, 49, 49)) !important;*/
    background-image: linear-gradient(rgba(255,255,255,0.1), rgba(255,255,255,0.1)) !important;
    /*transform: skewX(30deg)*/
}

.ui.search>.results {
    width: 60em;
    margin-top: 1px;
    pointer-events: all;
}

.ui.search>.results .result {
    padding: .35714286em 1.14285714em;
    line-height: 1.4;
}

.ui.search {
    width: 100%;
}

.ui.input {
    width: 100%;
    height: 100%;
}

.ui.search .prompt {
    border-radius: 0;
}

body::before {
    content: '';
    position: fixed;
}


.rdTabBar{
    -webkit-app-region: drag;
}
/*.browser-navbar{*/
/*-webkit-app-region: drag;*/
/*}*/

.rdTab,.rdTab img,.rdTabAddButton,.browser-navbar> a,.ui.dropdown{
    -webkit-app-region: no-drag;
}


@font-face {
    font-family: 'typicons';
    src: url("../../resource/css/typicons/font/typicons.eot");
    src: url("../../resource/css/typicons/font/typicons.eot?#iefix") format('embedded-opentype'),
    url("../../resource/css/typicons/font/typicons.woff") format('woff'),
    url("../../resource/css/typicons/font/typicons.ttf") format('truetype'),
    url("../../resource/css/typicons/font/typicons.svg#typicons") format('svg');
    font-weight: normal;
    font-style: normal;
}

.typcn {
    font-size: 24px;
    margin-right: 4px;
    -webkit-app-region: no-drag;
}


.typcn:hover {
    border-radius: 12px;
    background-color: #9a9696;
    color: white;
    height: 92%;
}
.typcn.typcn-minus:hover {
    line-height: 0.75;
}
.title-button-set{
    display: flex;
    margin-right: 0;
    margin-left: auto;
    z-index: 3;
}

.ui.horizontal.segments {
    position: absolute;
    bottom: 5px;
    max-width: calc(100% - 100px);
    height: 45px;
    z-index: 4;
    margin: auto;
    left: 40px;
}
.ui.blue.segment {
    width: 200px;
    padding: 0 8px 0 8px;
}

.download-list-above{
    position: absolute;
    right: 0px;
    top: 2px;
    font-size: 16px !important;
}
.download-list-above:hover{
    color: #b90101;
}

.download-list-bottom {
    position: absolute;
    top: 22px;
    right: 1px;
}
.download-list-bottom:hover {
    color: #b90101;
}

.ui.simple.active.dropdown>.menu {
    overflow: hidden;
    width: 0;
    height: 0;
    top: -9999px!important;
    opacity: 0;
}

.ui.simple.active.dropdown:hover>.menu {
    overflow: visible;
    width: auto;
    height: auto;
    top: 100%!important;
    opacity: 1;
}

.ui.simple.dropdown:active>.menu {
    overflow: hidden;
    width: 0;
    height: 0;
    top: -9999px!important;
    opacity: 0;
}

i.private-mode,i.pin-mode,i.mute-mode,i.reload-mode {
    float: left;
    font-size: 16px;
    line-height: 1.2em;
    color: #7fffd4;
    margin-left: -2px;
    margin-right: 2px;
}

span.private-mode {
    float: left;
    font-size: 16px;
    line-height: 1.0em;
    color: #7fffd4;
    margin-left: -2px;
    margin-right: 1px;
    padding: 0;
}

span.audio-percent {
    font-size: 14px;
    color: orangered;
    padding: 0;
}

.ui.top.right.pointing.dropdown>.menu.browser-action{
    min-width: max-content!important;
}

div.menu.visible.transition.nav-menu.sync-replace{
    width: 450px!important;
    left: -70px;
    top: 16px !important;
}

.ui.dropdown .scrolling.menu, .ui.scrolling.dropdown .menu {
    max-height: 41rem;
}

.clipboard-btn{
    padding: 2px 5px;
    margin-left: 6px;
    vertical-align: middle;
    border: none;
    background: none;
    outline:none;
}

.clipboard-btn:hover{
    background: rgb(221, 221, 221);
    border-radius: 3px;
}

.play-btn{
    padding: 2px 5px;
    margin-left: 6px;
    border: none;
    background: none;
    outline:none;
}

.play-btn:hover{
    background: rgb(221, 221, 221);
    border-radius: 3px;
}

.ui.top.right.pointing.dropdown>.menu {
    max-width: 1000px;
    overflow-x: auto;
}

.ui.dropdown .menu>.item>img.favi {
    vertical-align: sub;
}

.float-panel{
    top:40px;
    left: 40px;
    width:720px;
    min-width:200px;
    height:480px;
    position: fixed;
    border: 1px solid rgb(148, 148, 148);
}

.resizer-common{
    z-index:2;
    position: absolute;
}

.resizer-right{
    width: 10px;
    height: 100%;
    top: 0px;
    right: -5px;
    cursor: col-resize;
}
.resizer-bottom{
    width: 100%;
    height: 10px;
    bottom: -5px;
    left: 0px;
    cursor: row-resize;
}
.resizer-left{
    width: 10px;
    height: 100%;
    top: 0px;
    left: -5px;
    cursor: col-resize;
}
.resizer-top{
    width: 100%;
    height: 10px;
    top: -5px;
    left: 0px;
    cursor: row-resize;
}
.resizer-right-top{
    width: 20px;
    height: 20px;
    right: -10px;
    top: -10px;
    cursor: ne-resize;
}
.resizer-right-bottom{
    width: 20px;
    height: 20px;
    right: -10px;
    bottom: -10px;
    cursor: se-resize;
}
.resizer-left-bottom{
    width: 20px;
    height: 20px;
    left: -10px;
    bottom: -10px;
    cursor: sw-resize;
}
.resizer-left-top{
    width: 20px;
    height: 20px;
    left: -10px;
    top: -10px;
    cursor: nw-resize;
}

.drag-and-drop .rdTabBar{
    -webkit-app-region: no-drag !important;
}


div.item.favorite>ul>li>a, div.item.favorite>ul>li>i{
    display: none !important;
}

div.item.favorite>ul>li>div>ul{
    padding-left: 0px !important;
}

.browser-navbar div.favi-wrap{
    line-height: 1;
}

.favi-wrap>img.favi{
    vertical-align: sub;
}

.dl-select{
    outline: none;
    margin-left: 5px;
    background-color: #fff;
    border-radius: 3px;
    border: 1px solid lightgray;
}

.ui.dropdown .menu>.item.checkbox {
    padding-top: 0px !important;
    padding-bottom: 2px !important;
}

.tabs-layout-overlay {
    position: absolute;
    z-index: 10;
    /*background: blue;*/
}

.tabs-layout-overlay-wrapper {
    background: gray;
    position: absolute;
    display: block;
    opacity: 0.01;
    /*transition: all 0.2s;*/
    z-index: 10;
}
.tabs-layout-overlay-wrapper.visible {
    opacity: 0.1;
}

.tab-hidden{
    display: none;
}

.opacity001{
    opacity: 0.01;
}

.ui:not(.disabled) .fa.fa-film{
    color: rgb(171, 71, 0);
}

.browserActionBadge {
    text-align: center !important;
    border: 0px solid #FFF !important;
    min-width: 10px !important;
    user-select: none !important;
    top: 16px !important;
    animation-delay: 120ms !important;
    animation-timing-function: linear !important;
    animation-duration: 120ms !important;
    animation-fill-mode: forwards !important;
    left: calc(50% + 1px) !important;
    font: 7pt sans-serif !important;
    position: absolute !important;
    color: #FFF !important;
    border-radius: 2.5px !important;
    padding: 1px 2px !important;
    pointer-events: none !important;
    animation-name: keyframe_cwjpzv !important;
    background-color: gray;
}

.browserActionBadge.video{
    background-color: rgb(72, 72, 72);
}


.browserActionBadge.back,.browserActionBadge.next{
    left: calc(50% + 4px) !important;
}

.tree-divider{
    border-bottom: 1px solid rgba(34,36,38,.1);
}

.node-inactive{
    color: #999;
}

.tab-number,.tab-expand{
    font-size: 1.2em;
    vertical-align: 4px;
    margin-left: -2px;
    margin-right: 2px;
    color: rgb(170, 170, 170);
}
.tab-expand{
    margin-left: 5px;
    vertical-align: -4px;
    cursor: pointer !important;
}

.vertical-header{
    background: rgb(221, 221, 221);
    border-bottom: 1px solid rgb(170, 170, 170);
    -webkit-app-region: drag;
    width: 100%;
    height: 27px;
}

.toggle-label{
    vertical-align: 6px;
    padding-left: 12px;
}
.sort-screenshot{
    vertical-align: -2px;
}

.ui.radio.checkbox input:checked~label:after {
    margin-left: 1px;
    margin-top: 1px;
}

li.preset{
    flex: 1 1 0%;
    display: initial;
}

li.preset.val:hover{
    background-color: #f8f9fa;
}

.ui.dropdown .menu .menu.submenu {
    left: auto !important;
    right: 100% !important;
    top: auto !important;
    margin-top: -20px !important;
}

.ui.dropdown.main-menu .menu>.item.zoom-setting,
.ui.dropdown.zoom-menu .menu>.item.zoom-setting {
    margin-left: 50px;
    margin-right: 50px;
    text-align: center;
}

.ui.dropdown.main-menu .menu>.item.zoom-in,
.ui.dropdown.zoom-menu .menu>.item.zoom-in {
    float: right;
    margin-left: auto;
    margin-right: 7px;
    padding-right: 0px !important;
    padding-left: 15px !important;
}
.ui.dropdown.main-menu .menu>.item.zoom-out,
.ui.dropdown.zoom-menu .menu>.item.zoom-out {
    position: absolute;
    padding-right: 7px !important;
    margin-left: 2px;
    display: flex;
}

div.org-menu>div.item{
    padding: .43571429rem 0.94285714rem!important;
    border-top: none;
    padding-right: calc(1.14285714rem + 17px)!important;
    line-height: 1em;
    font-size: 1rem;
    font-weight: 400;
}


div.org-menu>div.item:hover{
    background: rgba(0,0,0,.05);
}


.alertDialog {
    -moz-box-sizing: border-box;
    background: white;
    box-shadow: 2px 2px 8px rgba(59, 59, 59, 1.0);
    color: #000;
    font-size: 13px;
    padding: 18px 30px;
    border-radius: 4px;
    top: 30px;
    box-sizing: border-box;
    width: 480px;
    max-height: -moz-calc(80vh - 60px);
    max-height: -webkit-calc(80vh - 60px);
    max-height: calc(80vh - 60px);
    position: fixed;
    z-index: 9999999;
    margin-left: auto;
    margin-right: auto;
}

.alertDialogTitle {
    -webkit-user-select: text;
    -moz-user-select: text;
    -ms-user-select: text;
    font-weight: bold;
    font-size: 12pt;
    user-select: text;
}

.alertDialogBody {
    -ms-user-select: text;
    -webkit-user-select: text;
    -moz-user-select: text;
    max-height: -moz-calc(80vh - 220px);
    max-height: -webkit-calc(80vh - 220px);
    max-height: calc(80vh - 220px);
    overflow-y: auto;
    margin-bottom: 18px;
    user-select: text;
    white-space: pre-wrap;
    margin-top: 18px;
    min-width: 425px;
    overflow-x: hidden;
}

.alertDialogButtonWrapper {
    -webkit-justify-content: flex-end;
    -ms-flex-pack: end;
    -webkit-box-pack: end;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-box;
    display: -webkit-flex;
    display: flex;
    justify-content: flex-end;
}

.alertDialogButton{
    -ms-user-select: none;
    -webkit-app-region: no-drag;
    -webkit-transition: .12s opacity ease, .12s background ease, .12s color ease;
    -webkit-user-select: none;
    -moz-user-select: none;
    display: inline-block;
    border-radius: 2px;
    text-align: center;
    transition: .12s opacity ease, .12s background ease, .12s color ease;
    user-select: none;
    background-size: 16px;
    background-position: center center;
    background-repeat: no-repeat;
    background-image: none;
    background-color: transparent;
    border: none;
    font-size: 13px;
    line-height: 1.25;
    margin-top: 0px;
    margin-right: 0px;
    width: auto;
    margin-left: 7.5px;
    color: #fff;
    height: 32px;
    position: relative;
    box-shadow: 0px 1px 5px -1px rgba(0, 0, 0, 0.5);
    padding-top: 5px;
    padding-bottom: 5px;
    padding-right: 16px;
    padding-left: 16px;
    min-width: -moz-calc(13px * 6);
    min-width: -webkit-calc(13px * 6);
    min-width: calc(13px * 6);
    background: -moz-linear-gradient(#FF7A1D, #ff5000);
    background: -webkit-linear-gradient(#FF7A1D, #ff5000);
    background: linear-gradient(#FF7A1D, #ff5000);
    border-left: 2px solid #FF7A1D;
    border-right: 2px solid #ff5000;
    border-top: 2px solid #FF7A1D;
    border-bottom: 2px solid #ff5000;
    font-weight: 500;
    white-space: nowrap;
    outline: none;
    cursor: pointer;
    margin-bottom: 0px;
}

.alertDialogButtonWrapper>.ui.basic.button{
    margin-right: 8px;
}

.lock-mode {
    text-align: center !important;
    border: 0px solid #FFF !important;
    min-width: 10px !important;
    user-select: none !important;
    animation-delay: 120ms !important;
    animation-timing-function: linear !important;
    animation-duration: 120ms !important;
    animation-fill-mode: forwards !important;
    left: calc(50% - 12px) !important;
    position: absolute !important;
    color: indianred;
    border-radius: 2.5px !important;
    padding: 1px 2px !important;
    pointer-events: none !important;
    animation-name: keyframe_cwjpzv !important;
}

.protect-mode {
    text-align: center !important;
    border: 0px solid #FFF !important;
    min-width: 10px !important;
    user-select: none !important;
    animation-delay: 120ms !important;
    animation-timing-function: linear !important;
    animation-duration: 120ms !important;
    animation-fill-mode: forwards !important;
    left: calc(50% - 1px) !important;
    position: absolute !important;
    color: goldenrod;
    border-radius: 2.5px !important;
    padding: 1px 2px !important;
    pointer-events: none !important;
    animation-name: keyframe_cwjpzv !important;
    top: 15px;
}

.browser-page-search>.ui.checkbox {
    border-top: 1px solid #aaa;
    border-bottom: 1px solid #aaa;
}
.browser-page-search>.ui.checkbox>label{
    top: 4px;
    padding-left: 1.35714em;
    padding-right: 6px;
    font-size: 12px;
}

.browser-page-search>.ui.checkbox .box:before, .ui.checkbox label:before {
    width: 12px;
    height: 12px;
    top: 2px;
}

.browser-page-search>.ui.checkbox .box:after, .ui.checkbox label:after {
    font-size: 13px;
    width: 12px;
    height: 12px;
}

.bookmark-bar{
    height: 28px;
    padding: 0 5px;
    background: #f6f6f6;
    border-bottom: 1px solid #dfdfdf;
    user-select: none;
}

.bookmark-item{
    margin: auto 0;
    padding-left: 6px;
    padding-right: 6px;
    border-radius: 2px;
    cursor: pointer;
    display: inline-block;
    line-height: 2.0 !important;
}

.bookmark-bar a:hover{
    color: inherit;
}

.bookmark-item:hover{
    background-color: rgba(0,0,0,0.1);
    color: inherit;
}

.bookmark-item>.infinite-tree-folder-icon {
    width: 17px;
}

.bookmark-item>img.favi-favorite {
    margin-left: 0px;
}

.bookmark-bar>.ui.dropdown{
    line-height: 2.0 !important;
}

.bookmark-bar>.ui.top.right.pointing.dropdown>.menu{
    left: 0;
}

.bookmark-bar .ui.dropdown .menu>.divider{
    margin: 0;
    border-top: none;
}

.bookmark-right-arrow{
    font-size: 16px;
    cursor: pointer;
    padding-left: 6px;
    padding-right: 6px;
    border-radius: 2px;
    vertical-align: top;
    padding-top: 3px;
}

.bookmark-right-arrow:hover{
    background-color: rgba(0,0,0,0.1);
}

i.play-mode, .play-mode i {
    color: orangered;
}

i.mute-mode.playing {
    color: orangered;
}

i.mute-mode{
    padding-left: 2px;
    padding-right: 3.14px;
    pointer-events: initial;
}

.rotate60{
    transform: rotate(60deg);
}

#dllist{
    z-index: 10001;
}

span.additional-info{
    color: rgba(0,0,0,.5);
    padding-left: 5px;
}

span.suggestion-visit{
    padding-left: 7px;
    font-weight: 400;
}

.hol-resizer{
    height: 5px;
    cursor: row-resize;
    width: 100%;
    position: absolute;
    z-index: 3;
}