.chrome-tabs {
  box-sizing: border-box;
  position: relative;
  /*font-size: 10px;*/
  /*overflow: hidden;*/
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
}
.chrome-tabs * {
  box-sizing: inherit;
  /*font-family: inherit;*/
}
.chrome-tabs .chrome-tabs-bottom-bar {
  position: absolute;
  bottom: 0;
  height: 0.45em;
  left: 0;
  width: 100%;
  background: #f2f2f2;
  box-shadow: 0 -0.05em rgba(0,0,0,0.27);
  z-index: 20;
}
.chrome-tabs .chrome-tabs-content {
  position: relative;
  width: 100%;
  height: 100%;
  overflow: hidden;
}
.chrome-tabs .chrome-tab {
  position: absolute;
  left: 0;
  height: 27px;
  width: 100%;
  /*width: 18em;*/
  border: 0;
  margin: 0;
  z-index: 1;
}
.chrome-tabs .chrome-tab,
.chrome-tabs .chrome-tab * {
  user-select: none;
  cursor: default;
}
.chrome-tabs .chrome-tab .chrome-tab-background {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  pointer-events: none;
}
.chrome-tabs .chrome-tab .chrome-tab-background > svg {
  width: 100%;
  height: 100%;
}
.chrome-tabs .chrome-tab .chrome-tab-background > svg .chrome-tab-shadow {
  fill: none;
  stroke: rgba(0,0,0,0.27);
  stroke-width: 0.5px;
}


.chrome-tabs .chrome-tab .chrome-tab-background > svg .chrome-tab-background {
  fill: rgb(79, 79, 79);
  transform: translateX(0.25px) translateY(0.25px);
}

.chrome-tabs .chrome-tab.rdTabHover .chrome-tab-background > svg .chrome-tab-background  {
  fill: rgb(66, 66, 66);
}

.chrome-tabs .chrome-tab.chrome-tab-current {
  z-index: 999;
}
.chrome-tabs .chrome-tab.chrome-tab-current .chrome-tab-background > svg .chrome-tab-background {
  fill: #343434;
}


.chrome-tabs .chrome-tab.multi-row  .chrome-tab-background{
  background-color: rgb(79, 79, 79);
  border-right: 1px solid rgb(221, 221, 221);
  border-bottom: 1px solid rgb(221, 221, 221);
}

.chrome-tabs .chrome-tab.chrome-tab-current.multi-row  .chrome-tab-background {
  background-color: #343434;
}

.chrome-tabs .multi-row .chrome-tab-favicon {
  margin-left: 1em;
}
.chrome-tabs .chrome-tab-drag .chrome-tab-background > svg .chrome-tab-background,
.chrome-tab-selection{
  stroke: white;
  stroke-width: 3px;
  stroke-dasharray: 10 10;
  stroke-dashoffset:80;
}

.chrome-tabs .chrome-tab-drag.multi-row .chrome-tab-background,
.chrome-tab-selection.multi-row .chrome-tab-background,
.vertical-selection{
  border: 1px dashed white !important;
}

.chrome-tabs .chrome-tab.chrome-tab-just-added {
  top: 10px;
  animation: chrome-tab-just-added 120ms forwards ease-in-out;
}
@-moz-keyframes chrome-tab-just-added {
  to {
    top: 0;
  }
}
@-webkit-keyframes chrome-tab-just-added {
  to {
    top: 0;
  }
}
@-o-keyframes chrome-tab-just-added {
  to {
    top: 0;
  }
}
@keyframes chrome-tab-just-added {
  to {
    top: 0;
  }
}
.chrome-tabs.chrome-tabs-sorting .chrome-tab:not(.chrome-tab-currently-dragged),
.chrome-tabs:not(.chrome-tabs-sorting) .chrome-tab.chrome-tab-just-dragged {
  transition: transform 120ms ease-in-out;
}
.chrome-tabs .chrome-tab-favicon {
  position: relative;
  margin-left: 1.5em;
  height: 1.6em;
  /*width: 1.6em;*/
  background-size: 1.6em;
  z-index: 3;
  display: inline-block;
  vertical-align: top;
  pointer-events: none;
}
.chrome-tabs .chrome-tab-title {
  position: relative;
  display: inline-block;
  vertical-align: top;
  color: #222;
  padding: 0 0.25em;
  overflow: hidden;
  /*text-overflow: ellipsis;*/
  white-space: nowrap;
  font-size: 1.2em;
  margin-top: 0.5em;
  max-width: calc(100% - 5em);
  pointer-events: none;
}
.chrome-tabs .chrome-tab-close {
  position: absolute;
  width: 1.4em;
  height: 1.4em;
  border-radius: 50%;
  z-index: 2;
  right: 1.4em;
  top: 0.7em;
  color: #505050;
}
.chrome-tabs .chrome-tab-close:before {
  font-family: "Lucida Grande", "Lucida Sans Unicode", Verdana, Arial, Helvetica, sans-serif;
  content: "\00D7";
  position: absolute;
  display: block;
  top: 0.05em;
  bottom: 0;
  left: 0;
  width: 100%;
  text-align: center;
  font-size: 1.15em;
  line-height: 1;
}
.chrome-tabs .chrome-tab-close:hover,
.chrome-tabs .chrome-tab-close:hover:active {
  color: #fff;
}
.chrome-tabs .chrome-tab-close:hover {
  background: #e25c4b;
}
.chrome-tabs .chrome-tab-close:hover:active {
  background: #b74a3b;
}
